<!doctype html>
<html>
    <body style="background-color:lightblue;">
<title>Khizars App</title>
<div class="header">

  </div>
<head>

    
   
</form>
<html>
<body>


</body>
<head>
        <h1>Logfile Analyzer</h1>

    <form method=post enctype=multipart/form-data>
        <input type=file name=file id="file">
        <input type=submit value=Upload id="file">
        <form>
       
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
</html>